SERVER_NAME=Valheim ARM64
WORLD_NAME=Dedicated
SERVER_PASSWORD=replace-with-at-least-five-characters
SERVER_PORT=2456
SERVER_PORT_END=2458
SERVER_PUBLIC=1
SERVER_CROSSPLAY=false
UPDATE_ON_START=true
SAVE_INTERVAL=1800
BACKUPS=4
BACKUP_SHORT=7200
BACKUP_LONG=43200
